@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

$black: #000000ff;
$oxford-blue: #14213dff;
$orange-web: #fca311ff;
$platinum: #e5e5e5ff;
$white: #ffffff;

$font: 'Montserrat', sans-serif;