@import '_vars.scss';

.login, .register{
    display:inline-flex;
}

//login Status bottom left
.loginStatus{
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    float: right;
    bottom: 1rem;
    right: 1rem;
    background-color: $orange-web;
    width: 10rem;
    height: max-content;
    border-radius: 1rem;
}
.loginStatusText{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: min-content;
    text-align: center;
}

.invalidLogin, .wrongPassword{
    margin-top: 0.5rem;
    color: red;
    width: max-content;
} 
[v-cloak] {display: none}