@import '_vars.scss';
.navbar {
    background-color: $orange-web;
    border-bottom: 1px solid $oxford-blue;
  }
  .navbar-brand {
    padding-top: 0px;
    font-size: 2px;
    font-weight: 400;
  }
  .brand {
    font-size: 4vw;
  }
  /* Navbar active link color */
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .nav-link.active {
    color: $oxford-blue;
  }
  /* change default bootstrap burger menu button color */
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: $orange-web;
  }
  // navbar link hover underline
  .nav-link:hover {
    border-bottom: 1px solid $oxford-blue;
  }
  .site-navbar {
    height: 20px;
  }
  

body{
    background-color: $orange-web;
}