@import '_vars.scss';

[v-cloak] {display: none};

body {
  font-family: $font;
  background-color: $white;
  height: 100%;
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: $orange-web;
    text-decoration: none;
  }
  // Navigation Bar
}
.navbar {
  background-color: $orange-web;
  border-bottom: 1px solid $oxford-blue;
}
.navbar-brand {
  padding-top: 0px;
  font-size: 2px;
  font-weight: 400;
}
.brand {
  font-size: 4vw;
}
/* Navbar active link color */
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: $oxford-blue;
}
/* change default bootstrap burger menu button color */
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: $orange-web;
}
// navbar link hover underline
.nav-link:hover {
  border-bottom: 1px solid $oxford-blue;
}
.site-navbar {
  height: 20px;
}

.hero-banner {
  margin-top: -2rem;
  display: block;
  width: 100%;
  height: 20rem;
  background-color: $orange-web;
}
.hero-banner-heading-container {
  justify-content: center;
  margin-top: 2rem;
  display: flex;
  height: min-content;
}
// .hero-banner-heading{

// }
.card-group {
  height: 50rem;
  width: 40rem;
  display: flex;
  height: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
.card {
  background-color: $oxford-blue;
  border-radius: 3rem;
  color: white;
  width: 10px;
  height: 50rem;
  margin-inline: 1rem;
  display: inline-flex;
  width: min-content;
  height: min-content;
  transition: all 0.2s ease-in-out;
  text-align:center;
}

.card:hover {
  transform: scale(1.1);
}
.center-card {
  height: 150.933px;
  text-align:center;
}

// movie searchbox
.movie-search-box {
  background-color: $orange-web;
  margin-top: 10%;
  width: 440px;
  padding: 20px;
  border-radius: 2em;
}
.movie-search-input {
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: black 3;
  width: 400px;
}
.movie-search-desc {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}
.movie-search-desc-container {
  width: 233.483px;
}
.movie-search-button {
  width: 54.6px;
  margin-right: 30px;
}



.movieResult {
  display: flex;
  width: 800px;
  height: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: $orange-web;
  border-radius: 2em;
  margin-left: auto;
  margin-right: auto;
}
.movieInfo{
  margin-left:1rem;
}
.movieResultPoster {
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: auto;
}
.movieResultInfoTitle {
  font-size: 3rem;
  width: 80%;
}
.movieResultPosterImage {
  width: 16rem;
}
.movieResultInfoYear {
  width: 15%;
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: right;
}
.rating{
  width: 8%;
  margin-left: 4px;
}


.statistics-bubbles {
  display: grid;
  max-width: 80%;
  margin: auto;
}
.stats-bubble {
  display: grid;
  background-color: $orange-web;
  height: 18rem;
  margin: 2%;
  margin-inline: auto;
  border: 5px solid red;
  border-radius: 3rem;
}

.stats-heading {
  font-size: 40px;
  color: $oxford-blue;
  justify-content: center;
  display: flex;
  height: min-content;
}



//Account Page

.acc-settings-bubble {
  background-color: $orange-web;
  width: 40rem;
  height: 40rem;
  margin: 10rem;
  border-radius: 3rem;
}

.btn-outline-info{
  border-color: $oxford-blue;
  color: $oxford-blue;
}
.signup_button:hover{
  background-color: $oxford-blue;
  border-color: $oxford-blue;
}
.custom-text {
  font-weight: bold;
  font-size: 1.9em;
  border: 1px solid #cfcfcf;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  color: #999;
  background: #fff;
}

.loginHinweis{
  color:red;
}
.movieAddedHinweis{
  color: $oxford-blue;
}
.loginStatus{
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  float: right;
  bottom: 1rem;
  right: 1rem;
  background-color: $orange-web;
  width: 10rem;
  height: max-content;
  border-radius: 1rem;
}
.loginStatusText{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: min-content;
  text-align: center;
}
.logoutbutton{
  width: 100px;
}
[v-cloak] {display: none};